<!DOCTYPE html>
<html>
  <head>
    <div class="container-fluid">
      <title></title>
      <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
      <script type="text/javascript" src="js/lib/crossfilter.js"></script>
      <script type="text/javascript" src="js/lib/d3.min.js"></script>
      <script type="text/javascript" src="js/lib/datamaps.usa.min.js"></script>
      <script type="text/javascript" src="js/lib/dc.js"></script>
      <script type="text/javascript" src="js/lib/dc.min.js"></script>
      <script type="text/javascript" src="js/lib/jquery.min.js"></script>
      <script type="text/javascript" src="js/lib/knockout-min.js"></script>
      <script type="text/javascript" src="js/lib/topojson.v0.min.js"></script>
      <script type="text/javascript" src="/js/index.js"></script>
    </div>
    <div role="navigation" class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#" class="navbar-brand">WIBBLE</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="javascript:dc.filterAll(); dc.renderAll();">RESET ALL</a></li>
          </ul>
        </div>
      </div>
    </div>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="panel panel-success">
            <div class="panel-heading">Passive</div>
            <div class="panel-body">
              <div class="cont2"><img id="imga" src="images/Passive/LEED Icons (EA).png" onclick="setAccessory('images/Passive/building Copy.png');"><img id="imgb" src="images/Passive/LEED Icons (IEQ).png" onclick="setAccessory('images/Passive/buildingCopy2.png');"><img id="imgc" src="images/Passive/LEED Icons (SS).png" onclick="setAccessory('images/Passive/buildingCopy3.png');"><img id="imgd" src="images/Passive/building.png"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 col-md-3 col-xs-3">
          <div class="row">
            <div class="col-sm-12 col-sm-12 col-xs-12">
              <div class="panel panel-success">
                <div class="panel-heading">Climate Zone</div>
                <div class="panel-body">
                  <div data-bind="foreach: availableItems">
                    <input type="radio" data-bind="checkedValue: $data, checked: $root.associatedItem"><span data-bind="text: '' + Name()"></span><br>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="panel panel-success">
                <div class="panel-heading">Weather File</div>
                <div class="panel-body">
                  <div id="chart-row-CZ"></div>
                  <div></div>
                </div>
                <!--iframe(seamless = 'seamless',src='datafiles/testtext.txt')-->
                
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-md-4 col-md-4">
          <div class="panel panel-success">
            <div class="panel-heading">Building Type</div>
            <div class="panel-body">
              <div><img id="zoom" data-bind="attr:{src:associatedItem().Picture}" class="img-container2">
                <div></div>
                <select data-bind="options: $root.availableBuildings, value: selectedChoice, optionsText: 'Bname'"></select>
                <!--span(data-bind='text: selectedChoice().Burl()')--><img id="zoom" data-bind="attr:{src:selectedChoice().Burl}" class="img-container">
                <!--img.img-container(id='zoom',data-bind='attr:{src:fullName}')-->
              </div>
              <!--img.img-container(id='zoom',data-bind='attr:{src:associatedItem().Picture}')-->
              <!--span(data-bind='text: fullName')-->
              
              
              
              
              
              
              
              
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-lg-8 col-lg-8">
          <div class="row">
            <div class="col-sm-12 col-sm-12 col-xs-12">
              <div class="panel panel-success">
                <div class="panel-heading">End Energy Use(kBtu/Year)</div>
                <div class="panel-body">
                  <div id="chart-ring-ENERGY"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="span12 table-graph"></div>
            <h4>Data Table for Filtered End Energy Use</h4>
            <table id="dc-table-graph" class="table table-hover dc-data-table">
              <thead>
                <tr class="header">
                  <th>Weather File</th>
                  <th>End Use Energy</th>
                  <th>Energy Use (kBtu/Year)</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
  <body>
    <div class="container-fluid">
    </div>
  </body>
  <body>
    <div class="container-fluid">
    </div>
  </body>
</html>