extends layout

block navbar
    button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
    a.navbar-brand(href='#') WIBBLE


block head
    script(type='text/javascript', src='js/lib/crossfilter.js')
    script(type='text/javascript', src='js/lib/d3.min.js')
    script(type='text/javascript', src='js/lib/datamaps.usa.min.js')
    script(type='text/javascript', src='js/lib/dc.js')
    script(type='text/javascript', src='js/lib/dc.min.js')
    script(type='text/javascript', src='js/lib/jquery.min.js')
    script(type='text/javascript', src='js/lib/knockout-min.js')
    script(type='text/javascript', src='js/lib/topojson.v0.min.js')

    script(type='text/javascript', src='/js/index.js')
    h1 DLR ENERGY APP TEST:
    #test-bar-chart

block contenttwo

block content
    h3 Available Items:
        div
    //#chart-ring-ENERGY2
    .row
        .col-lg-9.col-md-8.col-md-10
            .panel.panel-success
                div.panel-heading Passive Strategies
                div.panel-body
                    #chart-ring-ENERGY
                    p
                        h2
                         #totalchart
    a(href='javascript:dc.filterAll(); dc.renderAll();') Reset All

block column
 .row
    .col-md-4.col-sm-4.col-xs-4
        .row
            .col-sm-12.col-sm-12.col-xs-12
                .panel.panel-default
                    div.panel-heading Climate Zone
                    div.panel-body
                        div(data-bind='foreach: availableItems')
                            input(type='radio', data-bind='checkedValue: $data, checked: $root.associatedItem')
                            span(data-bind="text: '' + Name()")
                            br
                        h3 Associated Item Ids:
                            div


                                //ko if: associatedItem
                                span(data-bind='text: associatedItem().Url()')

                                // /ko

                                //img(data-bind="attr: {src: picture}")
                            br
    table
         thead
             tr
                 th Passenger name
                 th Meal
                 th Surcharge
                 th

         tbody(data-bind='foreach: seats')
             tr
                 td
                     input(data-bind='value: name')

                 td
                     select(data-bind="options: $root.availableMeals, value: meal, optionsText: 'mealName'")

                 td(data-bind='text: formattedPrice')

                 td
                     a(href='#', data-bind='click: $root.removeSeat') Remove

        h3(data-bind='visible: totalSurcharge() > 0')
            | Total surcharge: $
            span(data-bind='text: totalSurcharge()')

        .row
            .col-sm-12.col-sm-12.col-xs-12
                .panel.panel-success
                    div.panel-heading Weather File IIII
                    div.panel-body
                        #chart-row-CZ

    .col-md-8.col-md-8.col-md-8
        .panel.panel-primary
            div.panel-heading Panel Heading
            div.panel-body

                img.img-container(id='zoom',data-bind='attr:{src:associatedItem().Picture}')
                span(data-bind='text: fullName')

