extends layout

block navbar
    button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
    a.navbar-brand(href='#') WIBBLE


block head
    script(type='text/javascript', src='js/lib/crossfilter.js')
    script(type='text/javascript', src='js/lib/d3.min.js')
    script(type='text/javascript', src='js/lib/datamaps.usa.min.js')
    script(type='text/javascript', src='js/lib/dc.js')
    script(type='text/javascript', src='js/lib/dc.min.js')
    script(type='text/javascript', src='js/lib/jquery.min.js')
    script(type='text/javascript', src='js/lib/knockout-min.js')
    script(type='text/javascript', src='js/lib/topojson.v0.min.js')

    script(type='text/javascript', src='/js/index.js')
    h1 DLR ENERGY APP TEST:


block contenttwo


    h3 Associated Item Ids:
        div
            //ko if: associatedItem
            span(data-bind='text: associatedItem().Url()')
            // /ko
        br
block content

    h3 Available Items:
        div

    //#chart-ring-ENERGY2


    .row
        .col-lg-8.col-md-6.col-md-12
            .panel.panel-success
                div.panel-heading Building Energy Use Breakout
                div.panel-body

                    |Must contain
                    #chart-ring-ENERGY
                    p
                        h2 You ARe amazing





    a(href='javascript:dc.filterAll(); dc.renderAll();') Reset All

 block column
    .row
        .col-md-4.col-sm-6.col-xs-12
            .panel.panel-default
                div.panel-heading Climate Zone

                div.panel-body
                        div(data-bind='foreach: availableItems')
                            input(type='radio', data-bind='checkedValue: $data, checked: $root.associatedItem')
                            span(data-bind="text: '' + Name()")
                            br
                        br
                        | We are a fairly small, flexible w dancerie looking for a design refresh we are confident you will be pleased with the results.
        .col-md-4.col-sm-6.col-xs-12
            .panel.panel-success
                div.panel-heading Weather File
                div.panel-body
                    #chart-row-CZ
                    |We are a fairly small, flexibleio n.  ie
        .col-md-4.col-sm-6.col-xs-12
            .panel.panel-primary
                div.panel-heading Panel Heading

                div.panel-body
                        | We are a fairly small, flexible design studio that designs for print and web. We work flexibly with clients to fulfil their design needs. Whether you need to create a brand from scratch, including marketing materials and a beautiful and functional website or whether you are looking for a design refresh we are confident you will be pleased with the results.


block sidebar


        h2 ENERGY USE:




            p
                button.btn.btn-sm.btn-default(type='button') Default
                button.btn.btn-sm.btn-primary(type='button') Primary
                button.btn.btn-sm.btn-success(type='button') Success
                button.btn.btn-sm.btn-info(type='button') Info
                button.btn.btn-sm.btn-warning(type='button') Warning
                button.btn.btn-sm.btn-danger(type='button') Danger
                button.btn.btn-sm.btn-link(type='button') Link



