<!DOCTYPE html>
<html>
  <head>
    <div class="container">
      <div class="jumbotron">
        <title></title>
        <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
        <script type="text/javascript" src="js/lib/crossfilter.js"></script>
        <script type="text/javascript" src="js/lib/d3.min.js"></script>
        <script type="text/javascript" src="js/lib/datamaps.usa.min.js"></script>
        <script type="text/javascript" src="js/lib/dc.js"></script>
        <script type="text/javascript" src="js/lib/dc.min.js"></script>
        <script type="text/javascript" src="js/lib/jquery.min.js"></script>
        <script type="text/javascript" src="js/lib/knockout-min.js"></script>
        <script type="text/javascript" src="js/lib/topojson.v0.min.js"></script>
        <script type="text/javascript" src="/js/index.js"></script>
        <h1>DLR ENERGY APP TEST:</h1>
        <div id="test-bar-chart"></div>
      </div>
    </div>
    <div role="navigation" class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#" class="navbar-brand">WIBBLE</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="javascript:dc.filterAll(); dc.renderAll();">RESET ALL</a></li>
          </ul>
        </div>
      </div>
    </div>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-4">
          <div class="row">
            <div class="col-sm-12 col-sm-12 col-xs-12">
              <div class="panel panel-default">
                <div class="panel-heading">Climate Zone</div>
                <div class="panel-body">
                  <div data-bind="foreach: availableItems">
                    <input type="radio" data-bind="checkedValue: $data, checked: $root.associatedItem"><span data-bind="text: '' + Name()"></span><br>
                  </div>
                  <!--h3 Associated Item Ids:
                  div
                  
                  
                      //ko if: associatedItem
                      span(data-bind='text: associatedItem().Picture()')
                      img#photo
                      // /ko
                  
                      //img(data-bind="attr: {src: picture}")
                  br
                  -->
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-sm-12 col-xs-12">
              <div class="panel panel-success">
                <div class="panel-heading">Weather File IIII</div>
                <div class="panel-body">
                  <div id="chart-row-CZ"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8 col-md-8 col-md-8">
          <div class="panel panel-primary">
            <div class="panel-heading">Panel Heading</div>
            <div class="panel-body"><img id="zoom" data-bind="attr:{src:associatedItem().Picture}" class="img-container"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <body>
    <div class="container">
    </div>
  </body>
  <body>
    <div class="container">
      <h3>Available Items:
        <div></div>
      </h3>
      <!--#chart-ring-ENERGY2-->
      <div class="row">
        <div class="col-lg-9 col-md-8 col-md-10">
          <div class="panel panel-success">
            <div class="panel-heading">Passive Strategies</div>
            <div class="panel-body">
              <div id="chart-ring-ENERGY"></div>
              <p>
                <h2>
                  <div id="totalchart"></div>
                </h2>
              </p>
            </div>
          </div>
        </div>
      </div><a href="javascript:dc.filterAll(); dc.renderAll();">Reset All</a>
    </div>
  </body>
</html>