extends layout

block head
    script(type='text/javascript', src='js/lib/crossfilter.js')
    script(type='text/javascript', src='js/lib/d3.min.js')
    script(type='text/javascript', src='js/lib/datamaps.usa.min.js')
    script(type='text/javascript', src='js/lib/dc.js')
    script(type='text/javascript', src='js/lib/dc.min.js')
    script(type='text/javascript', src='js/lib/jquery.min.js')
    script(type='text/javascript', src='js/lib/knockout-min.js')
    script(type='text/javascript', src='js/lib/topojson.v0.min.js')

    script(type='text/javascript', src='/js/index.js')
    title ENERGY CHARTS

block content
    h3 Available Items:
    div(data-bind='foreach: availableItems')
        input(type='checkbox', data-bind='value: Url, checked: $root.associatedItemIds, click: $root.toggleAssociation')
        span(data-bind="text: ' ' + Name()")
        br
    br
    h3 Associated Item Ids:
    div(data-bind='foreach: associatedItemIds')
        span(data-bind='text: $data')
        br

    #chart-row-CZ
    #chart-ring-ENERGY
    #chart-ring-ENERGY2
    a(href='javascript:dc.filterAll(); dc.renderAll();') Reset All
