doctype html
html

    head
        div.container
            div.jumbotron
                title= title
                link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
                block head
        .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
            .container-fluid
                .navbar-header
                    block navbar
                .navbar-collapse.collapse
                    ul.nav.navbar-nav.navbar-right
                        li
                            a(href='#') Dashboard
                        li
                            a(href='#') Settings
                        li
                            a(href='#') Profile
                        li
                            a(href='javascript:dc.filterAll(); dc.renderAll();') RESET ALL

    body
        div.container
         block column

    body
        div.container
            div.jumbotron
                block contenttwo



    body
        div.container

                block content





    .table

        div.sidebar
            #header
                block sidebar