doctype html
html
    head
        div.container
            div.jumbotron
                title= title
                link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
                block head


    body
        div.container
            div.jumbotron
                block content

        .sidebar
        br

        #container
            #header
                ul
                    li
                        h1
                            block sidebar
                                p nothing
                            .primary
                                block primary
                                    p nothing
